POSTGRES_USER=delim
POSTGRES_PASSWORD=delim

MINIO_ROOT_USER=delim
MINIO_ROOT_PASSWORD=change_me

MAX_BOT_TOKEN=
MAX_BOT_USERNAME=
MAX_WEBHOOK_SECRET=
MAX_WEBHOOK_URL=
GATEWAY_SESSION_SECRET=
GATEWAY_LAUNCH_SECRET=
GATEWAY_INVITE_SECRET=
GATEWAY_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5179,http://localhost:8081

DELIM_GATEWAY_URL=http://localhost:8080
